@import url(http://fonts.googleapis.com/css?family=Gabriela);

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: radial-gradient(circle, #110f0f, #1b1b1a);
  background: cover;
  background-attachment: fixed;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 50%;
}

.wrapper {
  margin: 0 auto;
  width: 30%;
  padding-bottom: 10px;
}

#content {
  padding: 5px;
  background: rgba(2, 2, 2, 0.85);
}

h1, h2 {
  font-family: 'Gabriela', serif;
  color: #ffffffe3;
}

h1 {
  font-size: 3.5em;
  margin-bottom: 0;
}

h2 {
  font-size: 1.5em;
  margin-top: .5em;
}

h3 {
  font-family: 'Gabriela', serif;
  font-size: 1.5em;
  margin-top: .5em;
}

img {
  max-width: 130%;
  width: 100%;
  height: 40rem;
 
}

p {
  font-size: 1em;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1042px) {
  .wrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 784px) {
  body {
    font-size: 120%;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1em;
  }
  .wrapper {
    width: 95%;
  }
}
